VastAi__ApiKey=your_api_key_here
ModelTemplates__Templates__0__Model=your-model-name
ModelTemplates__Templates__0__SupportedGpus__0=RTX 4090
ModelTemplates__Templates__0__ProvisioningTemplateUuid=your_vast_template_hash_id